html {
    font-size: 100%;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
    margin: 10%;
    padding: 10px;
    background-color: burlywood;
    color: darkmagenta;
}